:root{
    --fs-h1:4.5rem;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.body .under-container
{
    max-width: 1452px;
}

header{
    width: 100%;
}

.navbar{
    
    border-bottom: 5px solid white;
    background-color: black;
    display: flex;
    justify-content: space-between;
}



.logo a{
    
    text-decoration: none;
    color: white;
    font-size: 5rem;
}


.link{
    display: flex;
    margin-top: 1rem;
    list-style: none;
   
    
}

.link a{
    text-decoration: none;
    color: white;
    margin: 1rem;
    font-size: 3rem;
}

.landing-page{
    
    display: flex;
    background-color: black;
    height: 1090px;
    align-items: center;
    margin: auto;
    justify-content: center;
    
}


.introduction{
    
    width: 55%;
    
    
}
.introduction h1{
    font-size: 80px;
    margin: 2rem;
    color:white;
}

.me{
    width: 65%;
    
}


.cta{
    margin-left: 200px;
    margin-right: 875px;
    
    
}

.btn{
    width: 190px;
    border: white;
    padding: 0.5em;
}



.btn a{
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
   
}

@media screen and (max-width: 1451px)
{
    .logo a{
        text-decoration: none;
        color: white;
        font-size: 3.5rem;
    }
    


    .introduction{
        width: 45%;
    }


    
}


@media screen and (max-width: 768px)   /*Standard px for tablet*/
{
    .body{
        max-width: 768px;
    }

    .link{
        margin-top: 0.8rem;
    }

    .logo a{
        text-decoration: none;
        color: white;
        font-size: 2.3rem;
    }
    
    .link a{
        font-size: 1.1rem;
    }

    


    .introduction{
        width: 45%;
    }

    

    .landing-page{
        background-color: black;
        display: flex;
        justify-content: center;
    }

    .introduction
    {
        width: 55%;
    }

    .introduction h1{
        font-size: 3.3rem;
    }

    

    .introduction-me{
       width: 45%;
    
    }

    .me{
        width: 100%;
       
    }
}




@media screen and (max-width: 414px)
{
    .body{
        background-color: black;
        max-height: 890px;
        height: 14;
    }
    
    .logo{
        margin-top: 0.5rem;
    }


    .logo a{
        
        padding: 1.2rem;
        text-decoration: none;
        color: white;
        font-size: 1.4rem;
    }
    

    .link{
        margin-top: 1.3rem;
    }



    .link a{
        font-size: 0.7rem;
    }



    .landing-page
    {
        display: flex;
        flex-direction: column;
        width: 100%; 
        margin: 0 auto;
        background-color: black;
        
    }

    .introduction{
        
       
        width: 99%;
        margin-top: 10em;
        flex: 1;
        
    }

    .introduction h1
    {
        
        text-align: center;
        margin: 0;
        margin-bottom: 1rem;
        
        padding: 0.5rem;
        
        font-size: 2.5rem;
        
    }

    .cta{
        text-align: center;
        margin: 0;
    }

    .cta a{
        font-size: 1.2rem;
    }

    .btn{
        padding: 0.5rem;
        border-radius: 40%;
       
    }

    .introduction-me{
    
        text-align: center;
        width: 99%;
        flex: 1;
        
        padding: 2.5rem;
    }

    .me{
        min-width: 55%;
        width: 80%;
    
    }


}







